.homePage {
  padding-left: 10px;
}

.tabPanel {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  box-shadow: 0px 6px 12px rgb(114, 116, 116);
}

.tab {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  border-bottom: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.active {
  color: red;
}

.movieLink {
  cursor: pointer;
}
