.homePage {
  padding-left: 10px;
}

.movieLink {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: white;
  margin-bottom: 8px;
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  transition: 0.5s;
}

.movieLink:hover {
  transform: translateX(30px) scale(1.2);
}
