.navLink {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Fugaz One', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(155, 148, 148);
  border-bottom: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.headerBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.active {
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 215, 0), 0 0 0.2em blue;
}
